In [1]:
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import os

path = './dataset/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list]

In [138]:
file_list

['Bitcoin - 비트코인 과거 데이터 - Investing.com.csv',
 'BTC_KRW Bithumb 내역.csv',
 'USD_KRW 내역.csv',
 '금 선물 내역(1).csv',
 '산업생산.xls',
 '실업.xls',
 '지출목적별_소비자물가지수_품목_포함__2015100__20211129150730.xls',
 '지출목적별_소비자물가지수_품목_포함__2015100__20211129150737.csv',
 '코스피 투자자별.csv',
 '코스피.xls']

In [4]:
bitcoin_data = pd.read_csv(path + file_list[1])

In [5]:
bitcoin_data

,날짜,종가,오픈,고가,저가,거래량,변동 %
0,2021년 07월 06일,"39,814,000","39,462,000","40,100,000","39,462,000",0.04K,0.84%
1,2021년 07월 05일,"39,484,000","40,914,000","40,914,000","39,484,000",0.70K,-3.50%
2,2021년 07월 04일,"40,914,000","41,183,000","41,207,000","40,914,000",0.55K,1.44%
3,2021년 07월 03일,"40,335,000","39,413,000","40,335,000","39,196,000",0.19K,2.33%
4,2021년 07월 02일,"39,417,000","39,335,000","39,417,000","39,335,000",0.52K,0.21%
...,...,...,...,...,...,...,...
1499,2017년 05월 27일,"3,152,000","3,227,000","3,288,000","2,460,000",33.75K,-2.32%
1500,2017년 05월 26일,"3,227,000","4,199,000","4,200,000","2,900,000",36.65K,-23.15%
1501,2017년 05월 25일,"4,199,000","4,175,000","4,840,000","3,102,000",35.91K,0.57%
1502,2017년 05월 24일,"4,175,000","3,206,000","4,314,000","3,206,000",34.68K,30.22%
1503,2017년 05월 23일,"3,206,000","3,104,000","3,281,000","3,081,000",21.58K,3.29%

In [12]:
bitcoin_data['날짜'] = pd.to_datetime(bitcoin_data['날짜'], format='%Y년 %m월 %d일', errors='raise')

In [13]:
bitcoin_data['날짜']

0      2021-07-06
1      2021-07-05
2      2021-07-04
3      2021-07-03
4      2021-07-02
          ...
1499   2017-05-27
1500   2017-05-26
1501   2017-05-25
1502   2017-05-24
1503   2017-05-23
Name: 날짜, Length: 1504, dtype: datetime64[ns]

In [14]:
bitcoin_data = bitcoin_data.sort_values('날짜', ascending= True)

In [18]:
bitcoin_data = bitcoin_data[['날짜','종가','오픈','거래량','변동 %']]

In [141]:
usd_krw_data = pd.read_excel(path + file_list[5])

In [144]:
usd_krw_data = usd_krw_data.transpose()

In [145]:
usd_krw_data = usd_krw_data.rename(columns=usd_krw_data.iloc[0]).drop(usd_krw_data.index[0])

In [146]:
usd_krw_data = usd_krw_data.iloc[:,:10]

In [147]:
usd_krw_data = usd_krw_data.rename(columns={usd_krw_data.columns[1]:'날짜'})

In [155]:
usd_krw_data

              실업자 실업률(%) 청년실업자 청년실업률(%)
날짜
2013-04-01   82.7    3.2  33.4      8.3
2013-05-01   79.9    3.0  30.0      7.4
2013-06-01   81.4    3.1  32.0      7.9
2013-07-01   82.7    3.1  34.3      8.2
2013-08-01   78.3    3.0  30.6      7.6
...           ...    ...   ...      ...
2021-06-01  109.3    3.8  38.6      8.9
2021-07-01   92.0    3.2  30.8      7.2
2021-08-01   74.4    2.6  24.3      5.8
2021-09-01   75.6    2.7  22.3      5.4
2021-10-01   78.8    2.8  23.4      5.6

[103 rows x 4 columns]

In [149]:
usd_krw_data = usd_krw_data[['날짜','실업자','실업률(%)','청년실업자','청년실업률(%)']]

In [85]:
usd_krw_data.reset_index(drop=True,inplace=True)

In [150]:
usd_krw_data['날짜'] = pd.to_datetime(usd_krw_data['날짜'], format='%Y%m월', errors='raise')

C:\Users\jangyunsik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [153]:
bitcoin_data = bitcoin_data.set_index('날짜')

KeyError: "None of ['날짜'] are in the columns"

In [104]:
bitcoin_data = bitcoin_data.resample('D')

In [108]:
bitcoin_data = bitcoin_data.first()

In [167]:
bitcoin_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1506 entries, 2017-05-23 to 2021-07-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      1504 non-null   object
 1   오픈      1504 non-null   object
 2   거래량     1504 non-null   object
 3   변동 %    1504 non-null   object
dtypes: object(4)
memory usage: 91.1+ KB

In [156]:
usd_krw_data = usd_krw_data.set_index('날짜')

KeyError: "None of ['날짜'] are in the columns"

In [157]:
usd_krw_data = usd_krw_data.resample('D').first()

In [171]:
usd_krw_data.loc['2017-05-23':'2021-07-06']

             실업자 실업률(%) 청년실업자 청년실업률(%)
날짜
2017-05-23  99.5    3.6  40.8      9.2
2017-05-24  99.5    3.6  40.8      9.2
2017-05-25  99.5    3.6  40.8      9.2
2017-05-26  99.5    3.6  40.8      9.2
2017-05-27  99.5    3.6  40.8      9.2
...          ...    ...   ...      ...
2021-07-02  92.0    3.2  30.8      7.2
2021-07-03  92.0    3.2  30.8      7.2
2021-07-04  92.0    3.2  30.8      7.2
2021-07-05  92.0    3.2  30.8      7.2
2021-07-06  92.0    3.2  30.8      7.2

[1506 rows x 4 columns]

In [165]:
usd_krw_data.fillna(method='ffill',inplace=True)

In [168]:
total_data = bitcoin_data.join(usd_krw_data)

In [169]:
total_data

,종가,오픈,거래량,변동 %,실업자,실업률(%),청년실업자,청년실업률(%)
날짜,,,,,,,,
2017-05-23,"3,206,000","3,104,000",21.58K,3.29%,99.5,3.6,40.8,9.2
2017-05-24,"4,175,000","3,206,000",34.68K,30.22%,99.5,3.6,40.8,9.2
2017-05-25,"4,199,000","4,175,000",35.91K,0.57%,99.5,3.6,40.8,9.2
2017-05-26,"3,227,000","4,199,000",36.65K,-23.15%,99.5,3.6,40.8,9.2
2017-05-27,"3,152,000","3,227,000",33.75K,-2.32%,99.5,3.6,40.8,9.2
...,...,...,...,...,...,...,...,...
2021-07-02,"39,417,000","39,335,000",0.52K,0.21%,92.0,3.2,30.8,7.2
2021-07-03,"40,335,000","39,413,000",0.19K,2.33%,92.0,3.2,30.8,7.2
2021-07-04,"40,914,000","41,183,000",0.55K,1.44%,92.0,3.2,30.8,7.2
2021-07-05,"39,484,000","40,914,000",0.70K,-3.50%,92.0,3.2,30.8,7.2
2021-07-06,"39,814,000","39,462,000",0.04K,0.84%,92.0,3.2,30.8,7.2

In [128]:
total_data.to_csv('비트코인_실업률.csv')

In [3]:
import os

path = './전처리/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list]

In [6]:
naver_pos = pd.read_excel(path + file_list_py[0])

In [9]:
naver_pos['날짜'] = pd.to_datetime(naver_pos['날짜'])

naver_pos = naver_pos.set_index('날짜')

In [26]:
naver_pos = naver_pos.rename(columns={'빈도':'빈도(긍정)'})

In [27]:
naver_pos

              빈도(긍정)
날짜
2017-05-23  14.58574
2017-05-24  15.11493
2017-05-25  16.02447
2017-05-26  12.58475
2017-05-27   8.97965
...              ...
2021-07-02  15.77641
2021-07-03  10.73259
2021-07-04  10.78220
2021-07-05  17.03323
2021-07-06  17.04977

[1506 rows x 1 columns]

In [15]:
naver_neg = pd.read_excel(path + file_list_py[1])

              빈도(부정)
날짜
2017-05-23  16.90149
2017-05-24  16.92568
2017-05-25  16.57495
2017-05-26  14.21660
2017-05-27  10.08647
...              ...
2021-07-02  16.68379
2021-07-03  13.23093
2021-07-04  11.24750
2021-07-05  15.66184
2021-07-06  17.92344

[1506 rows x 1 columns]

In [23]:
naver_neg['날짜'] = pd.to_datetime(naver_neg['날짜'])
naver_neg = naver_neg.set_index('날짜')

In [24]:
naver_neg = naver_neg.rename(columns={'빈도': '빈도(부정)'})

In [38]:
total_naver = naver_neg.join(naver_pos)

In [31]:
silup_rate = pd.read_csv(path+file_list_py[2])

In [34]:
silup_rate['날짜'] = pd.to_datetime(silup_rate['날짜'])

In [36]:
silup_rate = silup_rate.set_index('날짜')

In [80]:
silup_naver = silup_rate.join(total_naver)

In [45]:
kospi = pd.read_csv(path + file_list_py[3],encoding="cp949")

In [49]:
kospi['날짜'] = pd.to_datetime(kospi['날짜'])

In [52]:
kospi = kospi.set_index('날짜')

In [54]:
kospi = kospi.sort_index()

In [58]:
kospi = kospi.resample('D').first()

In [84]:
kospi.head(20)

            코스피지수변화     순매수비율
날짜
2017-05-23   0.0033  0.008202
2017-05-24   0.0024  0.008202
2017-05-25   0.0110  0.008202
2017-05-26   0.0053  0.008202
2017-05-27   0.0000  0.008202
2017-05-28   0.0000  0.008202
2017-05-29  -0.0010  0.008202
2017-05-30  -0.0039  0.008202
2017-05-31   0.0016  0.008202
2017-06-01  -0.0012 -0.001768
2017-06-02   0.0116 -0.001768
2017-06-03   0.0000 -0.001768
2017-06-04   0.0000 -0.001768
2017-06-05  -0.0013 -0.001768
2017-06-06   0.0000 -0.001768
2017-06-07  -0.0036 -0.001768
2017-06-08   0.0015 -0.001768
2017-06-09   0.0077 -0.001768
2017-06-10   0.0000 -0.001768
2017-06-11   0.0000 -0.001768

In [78]:
kospi.query('코스피지수변화.isna()',engine = 'python')

Empty DataFrame
Columns: [코스피지수변화, 순매수비율]
Index: []

In [85]:
kospi.loc['2019-08-19'] = [0.0066, -0.00386]
kospi.loc['2019-08-20'] = [0.0105, -0.00386]

In [86]:
total_data_set = silup_naver.join(kospi)

In [88]:
total_data_set

,종가,오픈,거래량,변동 %,실업자,실업률(%),청년실업자,청년실업률(%),빈도(부정),빈도(긍정),코스피지수변화,순매수비율
날짜,,,,,,,,,,,,
2017-05-23,"3,206,000","3,104,000",21.58K,3.29%,99.5,3.6,40.8,9.2,16.90149,14.58574,0.0033,0.008202
2017-05-24,"4,175,000","3,206,000",34.68K,30.22%,99.5,3.6,40.8,9.2,16.92568,15.11493,0.0024,0.008202
2017-05-25,"4,199,000","4,175,000",35.91K,0.57%,99.5,3.6,40.8,9.2,16.57495,16.02447,0.0110,0.008202
2017-05-26,"3,227,000","4,199,000",36.65K,-23.15%,99.5,3.6,40.8,9.2,14.21660,12.58475,0.0053,0.008202
2017-05-27,"3,152,000","3,227,000",33.75K,-2.32%,99.5,3.6,40.8,9.2,10.08647,8.97965,0.0000,0.008202
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-02,"39,417,000","39,335,000",0.52K,0.21%,92.0,3.2,30.8,7.2,16.68379,15.77641,-0.0001,0.002991
2021-07-03,"40,335,000","39,413,000",0.19K,2.33%,92.0,3.2,30.8,7.2,13.23093,10.73259,0.0000,0.002991
2021-07-04,"40,914,000","41,183,000",0.55K,1.44%,92.0,3.2,30.8,7.2,11.24750,10.78220,0.0000,0.002991
2021-07-05,"39,484,000","40,914,000",0.70K,-3.50%,92.0,3.2,30.8,7.2,15.66184,17.03323,0.0035,0.002991
2021-07-06,"39,814,000","39,462,000",0.04K,0.84%,92.0,3.2,30.8,7.2,17.92344,17.04977,0.0036,0.002991

In [89]:
total_data_set.to_csv('total_data_set.csv')